In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.Series([10,88,3,4,5])

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [4]:
ser = pd.Series([10,88,3,4,5])
ser

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [5]:
type(ser)

pandas.core.series.Series

In [6]:
ser.dtype

dtype('int64')

In [7]:
ser.size

5

In [8]:
ser.ndim

1

In [9]:
ser.values

array([10, 88,  3,  4,  5], dtype=int64)

In [10]:
for i in ser.values:
    print(i)

10
88
3
4
5

In [11]:
ser.head() # Head default value 5

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [12]:
ser.head(2)

0    10
1    88
dtype: int64

In [13]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20,'c':30}

In [15]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [16]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(index = labels, data = my_list)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [21]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [22]:
pd.Series(arr, my_list)

10    10
20    20
30    30
dtype: int32

In [20]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [25]:
pd.Series(d, ["w","c","d"])

w     NaN
c    30.0
d     NaN
dtype: float64

In [26]:
labels

['a', 'b', 'c']

In [29]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [30]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [31]:
mix_data = [1,'cat',True]

In [32]:
pd.Series(mix_data)

0       1
1     cat
2    True
dtype: object

In [34]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [36]:
ser1["USA"]

1

In [37]:
ser1[0]

1

In [39]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [40]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [41]:
a = np.array([1,2,33,444,75])
panser = pd.Series(a)
panser

0      1
1      2
2     33
3    444
4     75
dtype: int32

In [43]:
panser[0]

1

In [44]:
panser[0:3]

0     1
1     2
2    33
dtype: int32

In [45]:
panser = pd.Series([121, 200, 150, 99],
                  index = ["martin", "joseph", "orion", "jason"])

In [46]:
panser["martin"]

121

In [47]:
panser["orion":]

orion    150
jason     99
dtype: int64

In [49]:
panser[["orion","jason"]]

orion    150
jason     99
dtype: int64

In [50]:
panser["orion":"jason"]

orion    150
jason     99
dtype: int64

In [51]:
panser[2:4]

orion    150
jason     99
dtype: int64

In [53]:
panser[[2,3]]

orion    150
jason     99
dtype: int64

In [54]:
panser

martin    121
joseph    200
orion     150
jason      99
dtype: int64

In [55]:
panser.index

Index(['martin', 'joseph', 'orion', 'jason'], dtype='object')

In [56]:
panser.keys

<bound method Series.keys of martin    121
joseph    200
orion     150
jason      99
dtype: int64>

In [57]:
panser.values

array([121, 200, 150,  99], dtype=int64)

In [59]:
panser.items()

In [60]:
list(panser.items())

[('martin', 121), ('joseph', 200), ('orion', 150), ('jason', 99)]

In [63]:
panser.items

<bound method Series.items of martin    121
joseph    200
orion     150
jason      99
dtype: int64>

In [62]:
for index,value in panser.items():
    print(index, "-", value)

martin - 121
joseph - 200
orion - 150
jason - 99

In [64]:
panser

martin    121
joseph    200
orion     150
jason      99
dtype: int64

In [65]:
"Jack" in panser

False

In [66]:
"martin" in panser

True

In [67]:
121 in panser.values

True

In [70]:
panser["jason"] = 500

In [71]:
panser

martin    121
joseph    200
orion     150
jason     500
dtype: int64

In [72]:
panser > 400

martin    False
joseph    False
orion     False
jason      True
dtype: bool

In [73]:
panser[panser>400]

jason    500
dtype: int64

In [74]:
panser.drop("jason")

martin    121
joseph    200
orion     150
dtype: int64

In [75]:
panser

martin    121
joseph    200
orion     150
jason     500
dtype: int64

In [78]:
panser.drop("jason", inplace = True)

In [79]:
panser

martin    121
joseph    200
orion     150
dtype: int64

In [ ]:
panser.pop("jason")

In [ ]:
m = panser.drop("jason")

In [77]:
m

martin    121
joseph    200
orion     150
dtype: int64